<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key> <string>com.mxlight.always-on</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Applications/mxlight.app/Contents/MacOS/mxlight</string>
    <string>--always</string>
    <string>--uuid</string>
    <string>44B8F2E2-ED97-6227-6712-A41AC332C9D8</string>
  </array>
  <key>RunAtLoad</key> <true/>
  <key>KeepAlive</key> <true/>
  
  <key>LimitLoadToSessionType</key> <string>Aqua</string>

  <key>StandardOutPath</key> <string>/tmp/mxlight.out.log</string>
  <key>StandardErrorPath</key> <string>/tmp/mxlight.err.log</string>
</dict>
</plist>
